__pycache__/
*.pyc
.DS_Store
.venv/
archive/
old_stats/archive/
new_stats/archive/
logs/
old_stats/logs/
new_stats/logs/
*.lock
eia_stats.png
old_stats/eia_stats.png
new_stats/eia_stats.png
eia_stats_status.json
old_stats/eia_stats_status.json
new_stats/eia_stats_status.json
old_stats/wpsr_schedule_cache.json
new_stats/wpsr_schedule_cache.json
table4.csv
table5a.csv
table6.csv
wpsr.json
*.zip
